workflows:
  version: 2
  my-workflow:
    jobs:
      - pull-approle-ids
      - generate-vault-token:
          requires:
            - pull-approle-ids
      - get-aws-key:
          requires:
            - generate-vault-token
version: 2.1
executors:
  my-executor:
    docker:
      - image: circleci/node:4.8.2
    working_directory: /tmp
jobs:
  pull-approle-ids:
    executor: my-executor
    steps:
      - run: mkdir -p workspace
      - run: 
         command: |
           export ROLE_ID=$(curl \
           --header "X-Vault-Token: ${VAULT_INIT_TOKEN}" \
           --request GET \
           '${VAULT_ADDR}/v1/auth/approle/role/aws/role-id' | jq -r '.data.role_id')

           export SECRET_ID=$(curl \
           --header "X-Vault-Token: ${VAULT_INIT_TOKEN}" \
           --request POST \
           '${VAULT_ADDR}/v1/auth/approle/role/aws/secret-id' | jq -r '.data.secret_id')

           echo "{" > workspace/ids-output.json
           echo "  \"secret_id\": \"${SECRET_ID}\"," >> workspace/ids-output.json
           echo "  \"role_id\": \"${ROLE_ID}"\" >> workspace/ids-output.json
           echo "}" >> workspace/ids-output.json

           cat workspace/ids-output.json
      - persist_to_workspace:
          root: workspace
          paths:
            - ids-output.json
  generate-vault-token:
    executor: my-executor
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
         command: |
           cat /tmp/workspace/ids-output.json

           export VAULT_TOKEN=$(curl \
            --request POST \
            --data @/tmp/workspace/ids-output.json \
            ${VAULT_ADDR}/v1/auth/approle/login | jq -r '.auth.client_token')

           rm /tmp/workspace/ids-output.json

           echo "VAULT_TOKEN=${VAULT_TOKEN}" > workspace/vtoken
      - persist_to_workspace:
          root: workspace
          paths:
            - vtoken
  get-aws-key:
    executor: my-executor
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
         command: |
           source workspace/vtoken
           echo ${VAULT_TOKEN}
 
           curl \
             --header "X-Vault-Token: ${VAULT_TOKEN}" \
             ${VAULT_ADDR}/v1/aws/creds/tf-demo-role | jq
 
           rm /tmp/workspace/vtoken